<div
  class="item-container w-full h-20rem shadow-1 mx-2 hover:surface-hover border-round fadein animation-duration-1000"
  (click)="navigateTo(item)"
>
  <div class="text-3xl text-color-secondary p-4">{{ item.content.title }}</div>
  <div class="text-xl text-color-secondary p-4">
    {{ item.content.description }}
  </div>
  <div class="flex">
    <div
      *ngFor="let tag of item.content.tags"
      class="text-sm mx-4 my-2 text-500 border-1 border-transparent border-round-2xl"
    >
      <div>{{ tag }}</div>
    </div>
  </div>
</div>
