<!-- Conditional Rendering Based on Router State -->
<ng-container *ngIf="!isRouted">
  <div
    class="h-12rem justify-content-center align-content-center text-center text-6xl text-color-secondary"
  >
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Playground</a
    >
  </div>
  <div class="" style="padding: 4%">
    <div class="flex flex-wrap justify-content-center align-content-center">
      <ng-container *ngFor="let item of gridData">
        <div class="m-2">
          <app-grid-item [item]="item"></app-grid-item></div
      ></ng-container>
    </div>
  </div>
</ng-container>

<router-outlet></router-outlet>
