<div
  class="h-12rem justify-content-center align-content-center text-center text-6xl"
>
  Playground
</div>
<div class="justify-content-center" style="padding: 4% 16%">
  <div class="grid">
    <ng-container *ngFor="let item of gridData">
      <div [ngClass]="item.size" class="p-0">
        <!-- Check if item has children (i.e., it is a nested grid) -->
        <ng-container *ngIf="item.children && item.children.length > 0">
          <div class="grid mb-2">
            <ng-container *ngFor="let child of item.children">
              <div [ngClass]="child.size">
                <app-grid-item [item]="child"></app-grid-item>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <!-- If no children, just render the content -->
        <ng-container *ngIf="!item.children">
          <div [ngClass]="item.size" class="p-0 mx-3">
            <app-grid-item [item]="item"></app-grid-item>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
