<div
  class="item-container flex flex-column w-18rem xl:w-18rem md:w-full sm:w-full p-2 m-4 shadow-1 border-round fadein animation-duration-1000"
  (mouseenter)="onMouseOver()"
  (mouseleave)="onMouseLeave()"
  [ngClass]="[isHovered ? cardHoverColor : cardColor]"
  (click)="navigateTo(item)"
>
  <div
    class="text-3xl xl:text-3xl lg:text-2xl md:text-xl sm:text-lg m-4 text-color"
  >
    {{ item.content.title }}
  </div>
  <div
    class="text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-lg m-4 text-color-secondary"
  >
    {{ item.content.description }}
  </div>
  <div class="flex flex-wrap m-4">
    <div
      *ngFor="let tag of item.content.tags"
      class="text-base xl:text-xl lg:text-xl md:text-lg sm:text-base m-1 text-500 border-1 border-transparent border-round-2xl"
    >
      <div>{{ tag }}</div>
    </div>
  </div>
</div>
