<div id="container">
  <div id="grid">
    <!-- Grid cells -->
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
  </div>

  <div id="moving-cube-blue" class="moving-cube-blue"></div>
  <div id="moving-cube-orange" class="moving-cube-orange"></div>
  <div id="moving-cube-red" class="moving-cube-red"></div>

  <div id="text-below-grid">Loading...</div>
</div>
