:host::ng-deep {
  --text-color: #495057;
  --text-color-secondary: #6c757d;
  --border-radius: 6px;
  --primary-color: #4c9691;
  --primary-color-text: #ffffff;

  color-scheme: dark;
}

pre {
  background: #f4fbf8;
}

.sticky {
  transition: all 0.3s ease;
}

.sticky.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.active {
  color: #4c9691;
  font-weight: bold;
}
