<div class="text-color-secondary text-xl bg-white tutorial-container relative">
  <div>
    <div class="text-6xl my-4 p-2 text-center">How to Frontend with AWS</div>
  </div>

  <!-- MENU -->
  <div
    class="shadow-1 flex flex-wrap p-2 m-2 text-base xl:text-2xl md:text-xl sm:text-base text-left bg-white sticky"
    [ngClass]="{ fixed: isSticky }"
  >
    <div class="m-1 p-2 shadow-1 border-round-md">
      <a
        class="hover:text-primary cursor-pointer"
        [ngClass]="{ active: activeId === 'step1' }"
        (click)="scrollTo('step1')"
        >1 - S3 Bucket</a
      >
    </div>
    <div class="m-1 p-2 shadow-1 border-round-md">
      <a
        class="hover:text-primary cursor-pointer"
        [ngClass]="{ active: activeId === 'step2' }"
        (click)="scrollTo('step2')"
        >2 - CloudFront Distribution</a
      >
    </div>
    <div class="m-1 p-2 shadow-1 border-round-md">
      <a
        class="hover:text-primary cursor-pointer"
        [ngClass]="{ active: activeId === 'step3' }"
        (click)="scrollTo('step3')"
        >3 - Route 53</a
      >
    </div>
    <div class="m-1 p-2 shadow-1 border-round-md">
      <a
        class="hover:text-primary cursor-pointer"
        [ngClass]="{ active: activeId === 'step4' }"
        (click)="scrollTo('step4')"
        >4 - SSL Certificate</a
      >
    </div>
    <div class="m-1 p-2 shadow-1 border-round-md">
      <a
        class="hover:text-primary cursor-pointer"
        [ngClass]="{ active: activeId === 'step5' }"
        (click)="scrollTo('step5')"
        >5 - Deploy</a
      >
    </div>
    <div class="m-1 p-2 shadow-1 border-round-md">
      <a
        class="hover:text-primary cursor-pointer"
        [ngClass]="{ active: activeId === 'step6' }"
        (click)="scrollTo('step6')"
        >6 - Troubleshoot</a
      >
    </div>
  </div>

  <!-- PREREQUISITES -->
  <div class="shadow-1 p-4 m-2 my-4 surface-50" id="prerequisites">
    <div class="text-4xl text-primary">Prerequisites</div>
    <p class="warning-box">
      Ensure you have a purchased domain name (e.g
      <a class="hover:text-900" href="https://www.namecheap.com">Namecheap</a>,
      <a class="hover:text-900" href="https://www.godaddy.com">GoDaddy</a>,
      <a class="hover:text-900" href="https://domains.google">Google Domains</a
      >, <a class="hover:text-900" href="https://rotld.ro">ROTL</a>)
    </p>

    <div class="text-3xl text-color my-4 font-bold">Notes:</div>
    <p class="warning-box">
      This tutorial is made with S3 bucket on region
      <strong>eu-north-1</strong> with Certifcation and Route53 on
      <strong>us-east-1</strong>. Make sure that regions match in all the
      settings, when I created the S3 bucket the region was already set, could
      not change it. For me it worked like this but I think it's better to have
      all of the settings in the same region :(
    </p>
  </div>

  <!-- STEP 1 - S3 BUCKET -->
  <div class="shadow-1 p-4 m-2 my-4" id="step1">
    <div class="text-4xl text-primary">1: S3 Bucket</div>

    <div class="text-3xl text-color my-4 font-bold">Create Bucket:</div>
    <ul>
      <li>
        <span>
          Go to the S3 console
          <a
            class="text-primary"
            href="https://eu-north-1.console.aws.amazon.com/s3/buckets"
            >S3 Console</a
          >
        </span>
        and click on <strong> Create Bucket </strong>
      </li>
      <li>
        Name your bucket (e.g.,
        <span class="code-snippet">your-domain-name</span>, in my case it was
        <span class="code-snippet">mara-playground.ro</span>, the exact name of
        the domain I have)
      </li>
      <img
        [src]="gitHardcodedPathToImg + 'step1_generalConfiguration.png'"
        alt="Creating an S3 Bucket - general configuration"
      />
    </ul>
    <div class="text-3xl text-color my-4 font-bold">Bucket Settings:</div>
    <ul>
      <li><strong>Object Ownership:</strong> use the recommended one</li>
      <img
        [src]="gitHardcodedPathToImg + 'step1_objectOwnership.png'"
        alt="Creating an S3 Bucket - object ownership"
      />
      <li>
        <strong>Block Public Access:</strong> Disable the option in order to set
        the visibility to public
      </li>
      <img
        [src]="gitHardcodedPathToImg + 'step1_publicAccess.png'"
        alt="Creating an S3 Bucket - public access"
      />
    </ul>
    <div class="text-3xl text-color my-4 font-bold">Permissions:</div>
    <p>
      After bucket creation, set your bucket policy to allow public access to
      your files. You can use the following JSON template (modify with your
      bucket name):
    </p>

    <pre class="text-base border-left-3 border-primary">
&#123;
  "Version": "2012-10-17",
  "Statement": [
    &#123;
      "Sid": "PublicReadGetObject",
      "Effect": "Allow",
      "Principal": "*",
      "Action": "s3:GetObject",
      "Resource": "arn:aws:s3:::your-bucket-name/*"
    &#125;
  ]
&#125;</pre
    >

    <img
      [src]="gitHardcodedPathToImg + 'step1_permissions.png'"
      alt="Creating an S3 Bucket - permissions"
    />
  </div>

  <!-- STEP 2 - CLOUDFRONT DISTRIBUTION -->
  <div class="shadow-1 p-4 m-2 my-4 surface-50" id="step2">
    <div class="text-3xl text-primary">
      2: CloudFront Distribution
    </div>
    <div class="text-3xl text-color my-4 font-bold">
      Navigating to CloudFront:
    </div>

    <div class="text-3xl text-color my-4 font-bold">Create Distribution:</div>
    <ul>
      <li>
        <span>
          Go to the
          <a
            class="text-primary"
            href="https://console.aws.amazon.com/cloudfront/home"
            >CloudFront Console</a
          >.
        </span>
        and click on <strong>Create Distribution</strong>
      </li>
      <li>
        <strong>Origin Domain Name:</strong> Select your S3 bucket. (it may look
        like
        <span class="code-snippet">your-bucket-name.s3.amazonaws.com</span>).
      </li>
      <img
        [src]="gitHardcodedPathToImg + 'step2_createDistribution_origin.png'"
        alt="Create a CloudFront Distribution - origin"
      />
      <li>
        <strong>Create OAC:</strong> in order to specify origin access control
      </li>
      <img
        [src]="gitHardcodedPathToImg + 'step2_createDistribution_oac.png'"
        alt="Create a CloudFront Distribution - OAC"
      />
      <p>Now it should look like this:</p>
      <img
        [src]="gitHardcodedPathToImg + 'step2_createDistribution_oac_done.png'"
        alt="Create a CloudFront Distribution - OAC done"
      />
      <li>
        <strong>Viewer Protocol Policy:</strong> Set to Redirect HTTP to HTTPS
        for security.
      </li>
      <img
        [src]="
          gitHardcodedPathToImg + 'step2_createDistribution_defaultCache.png'
        "
        alt="Create a CloudFront Distribution - default cache"
      />
      <li>
        <strong>Web Application Firewall: </strong> Enable security protection
      </li>
      <img
        [src]="gitHardcodedPathToImg + 'step2_createDistribution_firewall.png'"
        alt="Create a CloudFront Distribution - firewall"
      />
      <li>
        <strong>SSL Certificate:</strong>
        <span class="text-red-400">
          This section will be set in the next step
        </span>
      </li>
    </ul>
    <li>
      <strong>Custom Error Response:</strong>
      For error responses, configure the response for 403 errors to redirect to
      <span class="code-snippet">/index.html</span> with a 200 status code.
    </li>
    <img
      [src]="gitHardcodedPathToImg + 'step2_createDistribution_customError.png'"
      alt="Create a CloudFront Distribution - Custom error"
    />
    <li>
      <strong>Invalidate CloudFront Cache:</strong>
      Configure the invalidation to path
      <span class="code-snippet">/*</span> from the existing distribution under
      Invalidations tab
    </li>
    <img
      [src]="
        gitHardcodedPathToImg +
        'step2_createDistribution_createInvalidation.png'
      "
      alt="Create a CloudFront Distribution - invalidation"
    />
  </div>

  <!-- STEP 3 - ROUTE 53 -->
  <div class="shadow-1 p-4 m-2 my-4" id="step3">
    <div class="text-4xl text-primary">3: Route 53</div>
    <div class="text-3xl text-color my-4 font-bold">
      Navigating to Route 53:
    </div>

    <div class="text-3xl text-color my-4 font-bold">Create Hosted Zone:</div>
    <ul>
      <li>
        <span>
          Go to the
          <a
            class="text-primary"
            href="https://console.aws.amazon.com/route53/home"
            >Route 53 Console</a
          >.
        </span>
        and click on <strong>Create Hosted Zone</strong>
      </li>
      <li>
        Enter your domain name and choose <strong>Public Hosted Zone </strong>
      </li>
      <img
        [src]="gitHardcodedPathToImg + '/step2_createHostedZone.png'"
        alt="Configure Route 53"
      />
    </ul>
    <div class="text-3xl text-color my-4 font-bold">Record Sets:</div>
    <p>
      Add an <strong>A Record</strong> and an
      <strong>AAAA Record</strong> pointing to your CloudFront distribution. Use
      the CloudFront distribution domain name (e.g.,
      <span class="code-snippet">xxxxx.cloudfront.net</span>) as the alias
      target.
    </p>
    <img
      [src]="gitHardcodedPathToImg + 'step3_route53_defineRecord.png'"
      alt="Configure Route 53 - define record"
    />
    <p>
      After everything was set, the records list should look like this (<strong
        >CNAME</strong
      >
      will be set later, don't worry)
    </p>
    <img
      [src]="gitHardcodedPathToImg + 'step3_route53_allRecords.png'"
      alt="Configure Route 53 - all records"
    />
    <div class="text-3xl text-color my-4 font-bold">
      Update Domain Registrar (if needed):
    </div>
    <p>
      If your domain is registered with a different registrar, you may need to
      update the nameservers to the ones provided by Route 53. This can usually
      be done in the domain registrar's dashboard.
    </p>
    <p>In my case I updated them in ROTL like this:</p>
    <img
      [src]="
        gitHardcodedPathToImg +
        'step3_route53_setRegistrarOnDomainAdminPanel.png'
      "
      alt="Configure Route 53 - set domain registrar"
    />
  </div>

  <!-- STEP 4 - SSL CERTIFICATE -->
  <div class="shadow-1 p-4 m-2 my-4 surface-50" id="step4">
    <div class="text-4xl text-primary">4: SSL Certificate</div>
    <div class="text-3xl text-color my-4 font-bold">Navigating to ACM:</div>

    <div class="text-3xl text-color my-4 font-bold">Request a Certificate:</div>
    <ul>
      <li>
        <span >
          Go to the
          <a class="text-primary"
            href="https://us-east-1.console.aws.amazon.com/acm/home?region=us-east-1#/certificates/list"
            >ACM Console</a
          >.
        </span>
        and click on <strong>Request a certificate</strong>
      </li>
      <li>Choose <strong>Public certificate</strong></li>
      <li>
        Enter your domain name (e.g.,
        <span class="code-snippet">your-domain.com</span>) and any subdomains if
        necessary.
      </li>
      <img
        [src]="gitHardcodedPathToImg + 'step3_requestCertificate.png'"
        alt="Set Up SSL Certificate"
      />
    </ul>
    <div class="text-3xl text-color my-4 font-bold">Validation:</div>
    <p>
      To validate the certificate, open the details of the certificate and
      scroll to the Domains section. Copy and add the given CNAME record name
      and value to your DNS provider.
    </p>

    <li>
      <strong>Add CNAME Record</strong> in Route 53 by going to
      <span>
        <a
          class="text-primary"
          href="https://console.aws.amazon.com/route53/home"
          >Route 53 Console</a
        >
      </span>
      -> select your host name -> <strong>Create Record</strong>
      <ul>
        For
        <strong>Record name</strong
        >, paste the CNAME record name you copied from the certificate details
        (it usually looks like something like
        <span class="code-snippet"
          >_a1b2c3defg56hijklm789nopq.yourdomain.com</span
        >).
      </ul>
      <ul>
        For
        <strong>Record type</strong
        >, choose
        <span class="code-snippet">CNAME</span>
      </ul>
      <ul>
        For
        <strong>Value</strong
        >, paste the corresponding CNAME value you copied.
      </ul>
      <img
        [src]="
          gitHardcodedPathToImg + 'step4_requestCertificate_verifyOnRoute53.png'
        "
        alt="Set Up SSL Certificate - verify with Route53"
      />
    </li>

    <p class="warning-box">
      <strong>Propagation Time:</strong>
      <span>
        After adding the CNAME record, it may take some time for changes to
        propagate across the internet (usually within minutes, but can take up
        to 48 hours).
      </span>
    </p>
    <p class="warning-box">
      <strong>Validation:</strong>
      <span>
        After adding the CNAME record, go back to the AWS Certificate Manager
        (ACM) and check the status of the certificate. It should change to
        “Success” once the validation is successful.
      </span>
    </p>

    <li>
      <strong>After your certificate vas successfuly verified</strong>, edit the
      distribution and add your certificate:
      <ul>
        <p>
          Go to the CloudFront console:
          <a
            class="text-primary"
            href="https://console.aws.amazon.com/cloudfront/home"
            >CloudFront Console</a
          >
          -> open your distribution -> Edit -> add your certificate
        </p>
      </ul>

      <img
        [src]="
          gitHardcodedPathToImg +
          'step4_requestCertificate_editDistribution.png'
        "
        alt="Set Up SSL Certificate - edit distribution"
      />
    </li>
  </div>

  <!-- STEP 5 - DEPLOY -->
  <div class="shadow-1 p-4 m-2 my-4" id="step5">
    <div class="text-4xl text-primary">5: Deploy</div>
    <div class="text-3xl text-color my-4 font-bold">Upload Files:</div>
    <p>
      Upload your files from <span class="code-snippet">dist</span> folder after
      you've build your project to your S3 bucket by accesing
      <span>
        <a
          class="text-primary"
          href="https://eu-north-1.console.aws.amazon.com/s3/buckets"
          >S3 Console</a
        >
        -> <strong>Upload</strong>
      </span>
    </p>
    <img
      [src]="gitHardcodedPathToImg + 'step5_uploadInBucket.png'"
      alt="Deploying Your Frontend"
    />
    <p class="warning-box">
      <strong>Index in root - </strong>
      <span> make sure that index.html is in root folder </span>
    </p>
    <div class="text-3xl text-color my-4 font-bold">Test:</div>
    <p>
      Once everything is set up, access your domain to see if your application
      loads correctly by accesing
      <span class="code-snippet"
        >http://your-domain-name.s3.amazonaws.com/home</span
      >
    </p>
  </div>

  <!-- STEP 6 - TROUBLESHOOT -->
  <div class="shadow-1 p-4 m-2 my-4 surface-50" id="step6">
    <div class="text-4xl text-primary">6: Troubleshoot</div>
    <div class="text-3xl text-color my-4 font-bold">CloudFront Logs:</div>
    <p>Enable logging in CloudFront for monitoring requests and responses.</p>
    <div class="text-3xl text-color my-4 font-bold">Error Handling:</div>
    <p>
      Check for any issues using the CloudFront console and your S3 bucket
      settings.
    </p>
    <img
      [src]="gitHardcodedPathToImg + 'step6_403Error.png'"
      alt="Monitor and Troubleshoot"
    />

    <li>
      If you encounter this error make sure to check the following steps:
      <ol>
        <strong>Verify S3 Block Public Access Settings</strong>
        Double-check that the following settings under
        <strong>Block Public Access</strong>
        are disabled
      </ol>
      <ol>
        <strong>Check Bucket Policy</strong
        >: Ensure that your bucket policy allows public read access
      </ol>
      <ol>
        <strong>Check Object Permissions:</strong>
        Even with the bucket policy allowing access, individual objects can have
        permissions that override this. Go to your S3 bucket in the AWS
        Management Console -> Click on the object (e.g.,
        <span class="code-snippet">index.html</span
        >) -> Check the
        <strong>Permissions</strong>
        tab for that object -> Ensure that the object is not explicitly set to
        deny access.
      </ol>
    </li>

    <p class="warning-box">
      If you receive <strong>Aceess Denied</strong> you might want to check if your buuild from dist folder is correctly built. 
      <span>
        See 
        <a
          class="text-primary"
          href="https://stackoverflow.com/questions/43656895/serving-and-testing-a-bundle-after-ng-build"
          >Serving and testing a bundle after ng build</a
        >
      </span>
    </p>
  </div>
</div>
