:host::ng-deep {
  --text-color: #495057;
  --text-color-secondary: #6c757d;
  --border-radius: 6px;
  --primary-color: #4c9691;
  --primary-color-text: #ffffff;

  color-scheme: dark;
}

pre {
  background: #f4fbf8;
}

