<div class="container">
  <div
    class="justify-content-center align-content-center text-center text-6xl text-600 my-8"
  >
    Small animations
  </div>

  <div class="flex flex-wrap justify-content-center align-content-center">
    <div class="w-24rem m-4 ">
      <div
        class="p-4 border-round-sm border-300 border-1 border-round-3xl surface-50 text-color-secondary"
      >
        <div class="content flex align-items-center justify-content-center">
          <app-grid-loading-screen></app-grid-loading-screen>
        </div>
        <div class="description ml-4">
          <div class="border-top-2 border-300 p-4 text-lg line-height-3">
            <div>Loading grid animation</div>
            <p>
              This Angular standalone component implements a grid animation with
              three colored cubes moving in predefined sequences.
            </p>
            <p>
              For a practical example and further details, visit the
              <a
                href="https://stackblitz.com/edit/grid-loading-animation-c33?file=index.html,main.js,counter.js,style.css&terminal=dev"
                target="_blank"
                >StackBlitz project</a
              >.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-24rem m-4">
      <div
        class="px-4 relative border-round-sm border-300 surface-50 border-1 border-round-3xl text-color-secondary"
      >
        <div class="content align-items-center w-full" style="height: 30vh ">
          <app-moving-clouds class="container "></app-moving-clouds>
        </div>
        <div class="description">
          <div class=" mt-4 border-top-2 border-300 p-4 text-lg line-height-3">
            <div>Cloud Animation Overview</div>
            <p>
              This project creates a dynamic cloud animation using HTML and CSS.
            </p>
            <p>
                For a practical example and further details, visit the
                <a
                  href="https://stackblitz.com/edit/clouds-animation?file=index.html&terminal=dev"
                  target="_blank"
                  >StackBlitz project</a
                >.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
